*.hi
*.o
*.p_hi
*.p_o
*.prof
*.db
.*.swp
tags
Test
Test2
Test3
MakeDB
MakeDBMR
CheckSeq
SearchDB
TestOuter
output.db
dist/
slave/rpromise-*
ubq_CA.csv
ubq_CB.csv
ubq_CO.csv
ubq_HA.csv
ubq_HN.csv
ubq_N.csv
